Exercise 2 -Title: Create and Share Your Jupyter Notebook

Exercise 3 - Introduction: Jupyter lab for Data Science Class

Exercise 4 - Create a markdown cell to list data science languages. 
1. Python

2. R:

3. SQL (Structured Query Language)

4. Julia:

5. Java:

Exercise 5 - Create a markdown cell to list data science libraries
Data Science Libarary in Python:
1. Numpy
2. Panda
3. Tensorflow
4. Matplotlib
5. Seaborn
6. Scikit-learn
7. NLTK
6. Scipy

Exercise 6 - Create a markdown cell with a table of Data Science tools
Data Science Tools:
    1. Python
    2. R
    3.SQL
    4. PowerBI
    5. Excel
    6. Github and Gitlab
    7. database servers , cloud services

Exercise 7 - Create a markdown cell introducing arithmetic expression example
Addition:
Example : 3 + 6

Subtraction:
Example : 13 - 2

Multiplication:
Example : 9 * 7

Division:
Example : 12 / 4

In [2]:
#Exercise 8 - Create a code cell to multiply and add numbers
A = 3 * 4
print (A)

12

In [30]:
#Exercise 9 - Create a code cell to convert minutes to hours
def hour_to_min(hour):
    minute = hour * 60
    return minute

# Print the result
result = hour_to_min(2)
print(result)

120

Exercise 10 -Insert a markdown cell to list Objectives
1. Expertise in Python
2. Familar with machine learning library
3. Build up communication skills of Data Architect

Exercise 11: Create a markdown cell to indicate the Authorâ€™s name
Author: Jing Pan